/*@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=f2fb82fc-799e-44a7-ab5f-8f561dbc72c3");*/
@font-face {
  font-family:"NHaasGroteskDSW01-75Bd";
  font-display: auto;
  src:url("../Fonts/ed82538c-6090-4c05-ac72-c636496df8de.eot?#iefix");
  src:url("../Fonts/ed82538c-6090-4c05-ac72-c636496df8de.eot?#iefix") format("eot"),url("../Fonts/c24b7456-b9fe-40ab-94af-ba8d3025fada.woff2") format("woff2"),url("../Fonts/da47ecd2-feea-403e-b247-9f8f5bb5157b.woff") format("woff"),url("../Fonts/0deba34f-9242-462b-a359-74e95714f821.ttf") format("truetype");
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-family: 'NHaasGroteskDSW01-75Bd';
  font-size: 48px;
  letter-spacing: 0.72;
  line-height: 40px;
  color: #414141;
}
